Options -Indexes
<files base.php>
	Order allow,deny
	Deny from all
</files>
<files .htaccess>
	Order allow,deny
	Deny from all
</files>

<Files *.pdf>
  ForceType application/pdf
</Files>

<Files *.doc>
  ForceType application/octet-stream
</Files>

<Files *.docx>
  ForceType application/octet-stream
</Files>

<Files *.xls>
  ForceType application/octet-stream
</Files>
